@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-tomato: hsl(4, 100%, 67%);
  --primary-tomatoDark: hsla(4, 100%, 67%, 0.25);
  --darkSlateGrey: hsl(234, 29%, 20%);
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

.body--center {
  background-color: var(--darkSlateGrey);
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 520px;
  width: 504px;
  border-radius: 36px;
  background-color: var(--white);
  color: var(--darkSlateGrey);
}

.message__container {
  width: 376px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.message__icon {
  width: 64px;
  height: 64px;
}

.message__title {
  width: 376px;
  font-size: 56px;
  font-weight: 700;
  line-height: 100%;
  margin-block: 40px 24px;
}

.message__text {
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 40px;
}

#emailSubscribed {
  font-weight: 700;
  line-height: 150%;
}

.container__btn{
  width: 376px;
}

.container__btnSubmit {
  color: var(--white);
  background-color: var(--darkSlateGrey);
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 8px;
}

.container__btnSubmit:hover {
  cursor: pointer;
  background-color: var(--primary-tomato);
  transition: 0.3s ease;
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}

@media screen and (max-width: 768px) {
  .body--center {
    background-color: var(--white);
  }

  .main{
    border-radius: 0px;
    width: 327px;
    height: 623px;
    display: flex;
    justify-content: flex-end;
    gap: 263px;
  }
  .message__container {
    width: 327px;
  }
  
  .message__title {
    width: 327px;
    font-size: 40px;
  }

}
