@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

:root {
  --primary-tomato: hsl(4, 100%, 67%);
  --primary-tomatoDark: hsla(4, 100%, 67%, 0.25);
  --darkSlateGrey: #242742;
  --charcoalGrey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
}

body {
  background-color: var(--darkSlateGrey);
  height: 100vh;
  margin: 0;
}

.body--center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 928px;
  height: 641px;
  border-radius: 36px;
  background-color: var(--white);
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 376px;
  height: 446px;
}

.form__title {
  color: var(--darkSlateGrey);
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
}

.form__text {
  display: flex;
  color: var(--darkSlateGrey);
  font-weight: 400;
  line-height: 150%;
}

.form__icon {
  width: 21px;
  height: 21px;
  margin-right: 16px;
}

.form__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form__label {
  color: var(--darkSlateGrey);
  font-weight: 700;
  font-size: 12px;
  margin-block: 20px 5px;
}

.form__invalidText {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary-tomato);
  display: none;
}

.form__invalidText-active {
  display: flex;
}

.form__input {
  width: 100%;
  margin-block: 5px;
  height: 50px;
  border: 1px solid var(--grey);
  border-radius: 7px;
  padding: 15px;
}

.form__input-invalid {
  border: 1px solid var(--primary-tomato);
  background-color: var(--primary-tomatoDark);
  color: var(--primary-tomato);
  outline-color: var(--primary-tomato);
}

.form__input-invalid::placeholder {
  color: var(--primary-tomato);
}

.form__input:hover {
  cursor: pointer;
  border: 1px solid var(--charcoalGrey);
}

.form__btnSubmit {
  width: 100%;
  margin-block: 5px;
  height: 50px;
  color: var(--white);
  border: none;
  background-color: var(--darkSlateGrey);
  border-radius: 7px;
}

.form__btnSubmit:hover {
  cursor: pointer;
  background-color: var(--primary-tomato);
  transition: 0.3s ease;
}

.imgContainer {
  width: 400px;
  height: 593px;
  background-image: url(../assets/images/illustration-sign-up-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 768px) {
  body {
    background-color: var(--white);
  }
  .container {
    flex-direction: column-reverse;
    width: 375px;
    height: 100vh;
    box-shadow: none;
    justify-content: flex-end;
  }

  .imgContainer {
    width: 375px;
    height: 284px;
    background-image: url(../assets/images/illustration-sign-up-mobile.svg);
    border-radius: 0px 0px 16px 16px;
  }

  .formContainer{
    width: 327px;
    height: 276px;
  }

  .form__title{
    width: 327px;
    font-size: 40px;
    line-height: 100%;

  }

  .attribution {
    display: none;
  }
}
